{% extends 'basic.html' %}
{% block title %}Punjabi Nawab | Booking Section{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if thank %}
<script>
alert('Insert Successfully..!');
window.open('/','_self');
  </script>
{% endif %}
<section class="booking-page-section">
        <div class="auto-container">
            <div class="row">
                <!-- Form Column -->
                <div class="from-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title">
                            <h2></h2>
                        </div>
                         <div class="booking-form">
                            <form method="post" action="booking">
                              {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>Your Name *</label>
                                        <input type="text" name="nm" value="{{user.first_name}}" required="" readonly>
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>UID Number *</label>
                                        <input type="text" name="uid" value="{{user.last_name}}" required readonly>
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>Room Type *</label>
                                        <input type="text" id="rnm1" name="rnm"  required="">
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>Price *</label>
                                        <input type="text" name="price" id="price1" required="">
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>Arrival Date *</label>
                                        <input type="text" id="startdate" value="" name="startdate" placeholder="Enter zipcode" required="">
                                    </div>


                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <label>Departure Date *</label>
                                        <input type="text"  id="enddate" name="enddate" placeholder="Departure Date" required="">
                                        <input type="hidden" name="rid" id="rid1">
                                        <input type="hidden" name="unm" value="{{user.username}}">


                                    </div>


                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <label>Address</label>
                                        <textarea name="adds" >{{user.email}}</textarea>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <button class="theme-btn btn-style-one" type="submit" ><i class="fa fa-calendar"></i>Book My Room</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
<!-- localStorage section -->
<script>
var startdate = localStorage.startdate
var enddate = localStorage.enddate
var rid = localStorage.rid
var rnm = localStorage.rnm
var price = localStorage.price

document.getElementById("startdate").value = startdate;
document.getElementById("enddate").value = enddate;
document.getElementById("rid1").value = rid;
document.getElementById("rnm1").value = rnm;
document.getElementById("price1").value = price;


  </script>
<!-- localStorage section ends -->


                <div class="widget-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Category Widget -->
                        <div class="offer-widget">
                            <div class="widget-title"><h3>Featured Offer</h3></div>
                            <!-- Offer Block -->
                            <div class="offer-block">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="room-detail.html"><img src="images/resource/offer-3.jpg" alt=""></a></figure>
                                        <div class="caption-box">
                                            <span class="title">7 Nights Stay</span>
                                            <h3>Starts from just $199</h3>
                                            <p>Honeymoon Package</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="offer-widget">
                            <div class="widget-title"><h3>Featured Room</h3></div>
                            <div class="carousel-box">
                                <div class="single-item-carousel owl-carousel owl-theme">

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="images/resource/room-2.jpg" alt=""></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                    <li><span class="fa fa-tv"></span></li>
                                                    <li><span class="fa fa-hot-tub"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Premium with Spa</a></h4>
                                                <div class="text">Awesome Features</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a href="room-detail.html"><img src="images/resource/room-5.jpg" alt=""></a></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Single Room</a></h4>
                                                <div class="text">Our Single Room with features</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="images/resource/room-3.jpg" alt=""></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                    <li><span class="fa fa-tv"></span></li>
                                                    <li><span class="fa fa-hot-tub"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Premium Room</a></h4>
                                                <div class="text">Our Single Room with features</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
     <script>
       alert('You are not Logged-In..!');
       window.open('/login','_self');
       </script>
       {% endif %}
    <!-- Booking page Section -->

{% endblock %}
