{% extends 'basic.html' %}
{% block title %}Punjabi Nawab | Customers Reviews{% endblock %}
{% block body %}
<br>
<section class="booking-page-section">
        <div class="auto-container">
            <div class="row">
                <!-- Form Column -->
                <div class="from-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title">
                            <h2>Feedback</h2>
                        </div>
                         <div class="booking-form">
                            <!-- Review section -->

                           <div  class="fb-comments" data-href="https://www.facebook.com/Hindpiri-Wale-2029020037421616/" data-width="100%" data-numposts="10"></div>

                            <!-- end review section -->
                        </div>
                    </div>
                </div>

                <div class="widget-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Category Widget -->


                        <div class="offer-widget">
                            <div class="widget-title"><h3>Near By</h3></div>
                            <div class="carousel-box">
                                <div class="single-item-carousel owl-carousel owl-theme">

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="../static/images/resource/room-2.jpg" alt=""></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                    <li><span class="fa fa-tv"></span></li>
                                                    <li><span class="fa fa-hot-tub"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Premium with Spa</a></h4>
                                                <div class="text">Awesome Features</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a href="room-detail.html"><img src="../static/images/resource/room-5.jpg" alt=""></a></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Single Room</a></h4>
                                                <div class="text">Our Single Room with features</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Room Block -->
                                    <div class="room-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="../static/images/resource/room-3.jpg" alt=""></figure>
                                                <ul class="room-services">
                                                    <li><span class="fa fa-wifi"></span></li>
                                                    <li><span class="fa fa-coffee"></span></li>
                                                    <li><span class="fa fa-tv"></span></li>
                                                    <li><span class="fa fa-hot-tub"></span></li>
                                                </ul>
                                                <div class="price">$199 / Night</div>
                                            </div>
                                            <div class="lower-content">
                                                <h4><a href="room-detail.html">Premium Room</a></h4>
                                                <div class="text">Our Single Room with features</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking page Section -->
{% endblock %}
